/* Section header */
header {
    text-align: center;
    background-color: #2c3e50;
    height: 50px;
    position: relative;
}

header h1{
    color: gray;
}

header ul{
    text-decoration: none;
    list-style: none;
    border: none;
    padding: none;
    font-size: 20px;
    color: gray;
}

header li, header h1{
    margin-top: 7px;
}

header li:hover, header h1:hover{
    color: #ffffff;
    cursor: pointer;
}

.menu{
    display: none;
}

/* Section main */
.main {
    position: relative;
    height: 450px;
    background-image: url('../assets/images/urahara.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
}



.section-post div{
    border: 1px solid rgb(17, 153, 153, 0.3);
    text-align:justify; 
    box-sizing: border-box;
}

.section-post div:hover{
    box-shadow: 0 0 5px #000;
    filter: sepia(60%);
    cursor: pointer;
}

.button{
    color: #ffffff;
    background-color: rgb(15, 77, 209);
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    margin-bottom: 7px;
}

.button:hover{
    cursor: pointer;
    filter: grayscale(100%);
}

.section-post img{
    max-width: 100%;
    background-size: cover;
}

footer {

    text-align: center;
    background-color: #2c3e50;
    color: white;
    height: 100px;
    position: relative;
}

footer p{
    margin-top:45px;
}

@media screen and (max-width: 768px){
    header nav {
        margin: 0px;
        position: absolute;
        z-index: 1;
    }

    header ul{
        border-bottom:1px solid rgb(255, 255, 255, 0.3);
        margin-left: 420px;
        display: none;
    }

    .menu{
        width: 100%;
        background: #cccccc;
    }

    .menu, .bt-menu{
        display: block;
        padding: 5px;
        background-color: #2c3e50;
        text-decoration: none;
        font-size: 25px;
        box-sizing: border-box;
    }

    .menu span{
        float: right;
        font-size: 25px;
        color: gray;
    }

}

.display{
    display: block;
}