/* Section header */

header {
    text-align: center;
    background-color: #2c3e50;
    height: 50px;
    position: relative;
}

header ul {
    text-decoration: none;
    list-style: none;
    border: none;
    padding: none;
    font-size: 20px;
    color: gray;
}
header li{
    margin-top: 7px;
}

header li:hover{
    color: #ffffff;
    cursor: pointer;
}

/* Section main */
.main {
    outline: 1px solid red;
    position: relative;
    height: 350px;
    background-image: url('../assets/images/urahara.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
}

footer {

    text-align: center;
    background-color: #2c3e50;
    color: white;
    height: 120px;
    position: relative;
    top:648px;
}

footer p{
    margin-top:45px;
}